<ion-header>
    <ion-navbar color='navbarColor'>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        <ion-label>สแกน</ion-label>
      </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content>
  <div class="padding">
    <div class="bg-padding">
     <div style="padding-top:5%">
      <div class="bg-report">
        <ion-grid>
          <ion-row >
              <ion-col col-12 style="text-align:center">
                  <img src="http://it2.sut.ac.th/prj60_g43/g43/befit-fitness/image-mobile/clock.png" width="150px" height="150px" />
              </ion-col>
          </ion-row>
          <ion-row >
            <ion-col col-12 style="text-align:center">
              เหลือเวลา
            </ion-col>
          </ion-row>
          <ion-row style="padding-top:5%">
            <ion-col col-1 style="text-align:center"></ion-col>
            <ion-col col-2 style="text-align:center">ชั่วโมง</ion-col>
            <ion-col col-2 style="text-align:center"></ion-col>
            <ion-col col-2 style="text-align:center">นาที</ion-col>
            <ion-col col-2 style="text-align:center"></ion-col>
            <ion-col col-2 style="text-align:center">วินาที</ion-col>
            <ion-col col-1 style="text-align:center"></ion-col>
        </ion-row>
          <ion-row >
              <ion-col col-1 style="text-align:center"></ion-col>
              <ion-col col-2 style="text-align:center;font-size:24px">{{txttimeH}}</ion-col>
              <ion-col col-2 style="text-align:center;font-size:24px">:</ion-col>
              <ion-col col-2 style="text-align:center;font-size:24px">{{txttimeM}}</ion-col>
              <ion-col col-2 style="text-align:center;font-size:24px">:</ion-col>
              <ion-col col-2 style="text-align:center;font-size:24px">{{txttimeS}}</ion-col>
              <ion-col col-1 style="text-align:center"></ion-col>
              
          </ion-row>
        </ion-grid>
      </div>
    </div>
      <div style="text-align:center;padding-top:3%" *ngIf="check == 0">
          <button ion-button color="btn_login" class="btn_login" (click)="scan()">สแกน</button>
      </div>
      <div style="text-align:center;padding-top:3%" *ngIf="check == 1">
        <button ion-button color="btn_login" class="btn_delete" (click)="cancle()">ยกเลิก</button>
    </div>
           
    </div>
  </div>

</ion-content>