<ion-header>
  <ion-navbar color='navbarColor'>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-label>ข้อมูลการใช้งาน</ion-label>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-style2">
  <div class="padding">
    <div class="bg-padding">

      <ion-grid style="padding-top:5%">
        <ion-row class="bg-report">
          <ion-col col-12>
            <ion-datetime class="ion-date" displayFormat="DD MMMM YYYY" [(ngModel)]="date" (ionChange)="changDate(date)"></ion-datetime>
          </ion-col>
        </ion-row>         
      </ion-grid>

    <div style="padding-top:5%">

      <div class="bg-report">
          <div style="text-align:center" *ngIf="histoty.length == 0">
              <h6>ไม่มีข้อมูลการใช้งาน</h6>
          </div>

          <ion-list *ngIf="histoty.length > 0">
            <ion-item class="row-style" *ngFor="let item of histoty">
              <h2>{{item.name_fitness}}</h2>
              <h6>{{item.name}} {{item.id_equipment}}</h6>
              <h6 *ngIf="item.status != 'scan' && item.status != 'finish'">
                  <img src="http://it2.sut.ac.th/prj60_g43/g43/befit-fitness/image-mobile/clock.png" width="20px" height="20px"> {{item.time_start}} - {{item.time_end}}
              </h6>
              <h6 *ngIf="item.status == 'scan' || item.status == 'finish'">
                  <img src="http://it2.sut.ac.th/prj60_g43/g43/befit-fitness/images/ture.png" width="20px" height="15px"> เก็บข้อมูลการใช้งาน
              </h6>
              <h6 *ngIf="item.status == 'booking'">
                  <img src="http://it2.sut.ac.th/prj60_g43/g43/befit-fitness/images/running.png" width="20px" height="15px"> อยู่ระหว่างการจอง
              </h6>
              <h6 *ngIf="item.status == 'running'">
                  <img src="http://it2.sut.ac.th/prj60_g43/g43/befit-fitness/images/false.png" width="20px" height="15px"> อยู่ระหว่างการใช้งาน
              </h6>
              
              <!-- <button ion-button class="btn_edit" *ngIf="item.status == 'booking'" >แก้ไข</button> -->
              <button ion-button class="btn_delete" *ngIf="item.status == 'booking'" (click)="delete(item.id)">ลบ</button>
              <!-- <button ion-button class="btn_edit" *ngIf="item.status == 'running'" (click)="cancle(item.id)">ยกเลิก</button> -->
              <ion-thumbnail item-end>
                <img src= {{item.image}} width="15px" height="15px">
              </ion-thumbnail>
            </ion-item>
          </ion-list>

      </div>
    </div>
      
    </div>
  </div>

</ion-content>